# Latex
*.log
*.aux
*.pdf
*.toc
*.synctex.gz
tex/*

# Ejecutables
bin
burbuja
fibonacci
hanoi
floyd
heapsort
mergesort
quicksort
insercion
seleccion
*.dat

#Archivos de respaldo
*~
*fuse_hidden*   

#Archivos de gráficos
*.jpg
*_fit
